## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [8]:
# Your code here
sample_list_1 = random.sample(range(101), 80)

print(sample_list_1)

#turn the list into a set to make sure that each value is unique and check lenght to asure set lenght is still 80 (it is)
sample_list_1 = set(sample_list_1)
print(len(sample_list_1))

[17, 81, 84, 48, 75, 71, 1, 65, 83, 10, 56, 12, 57, 77, 93, 89, 96, 4, 58, 91, 22, 98, 70, 61, 11, 6, 33, 44, 43, 15, 49, 99, 16, 60, 69, 74, 68, 59, 55, 66, 94, 79, 3, 53, 76, 87, 31, 38, 95, 27, 29, 35, 72, 28, 51, 80, 2, 97, 9, 13, 85, 7, 54, 82, 42, 40, 0, 47, 52, 78, 73, 26, 64, 36, 8, 67, 63, 90, 19, 37]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [9]:
# Your code here
set1 = set(sample_list_1)
print(len(sample_list_1))

#done before, got advanced ðŸ˜…

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [12]:
# Your code here

sample_list_2 = random.choices(range(101), k = 80)

print(sample_list_2)

[30, 85, 48, 77, 75, 71, 87, 53, 53, 36, 28, 11, 31, 53, 63, 62, 81, 1, 42, 79, 88, 55, 42, 11, 22, 32, 54, 74, 45, 32, 51, 56, 94, 24, 25, 16, 18, 79, 57, 65, 38, 1, 73, 7, 14, 28, 20, 42, 58, 41, 69, 50, 98, 58, 92, 12, 47, 6, 43, 68, 38, 79, 13, 14, 60, 61, 24, 77, 33, 49, 84, 55, 32, 31, 59, 13, 10, 87, 65, 28]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [13]:
# Your code here
set2 = set(sample_list_2)
len(set2)

#New lenght is 59

58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [14]:
# Your code here
set3 = set1 - set2

print(set3)

{0, 2, 3, 4, 8, 9, 15, 17, 19, 26, 27, 29, 35, 37, 40, 44, 52, 64, 66, 67, 70, 72, 76, 78, 80, 82, 83, 89, 90, 91, 93, 95, 96, 97, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [15]:
# Your code here
set4 = set2 - set1

print(set4)

{32, 41, 45, 14, 18, 50, 20, 62, 24, 25, 88, 92, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [16]:
# Your code here
set5 = set1&set2

print(set5)

{1, 6, 7, 10, 11, 12, 13, 16, 22, 28, 31, 33, 36, 38, 42, 43, 47, 48, 49, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 65, 68, 69, 71, 73, 74, 75, 77, 79, 81, 84, 85, 87, 94, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [17]:
# Your code here

print("lenghts sets: ", "1", ":", len(set1),",", "2", ":", len(set2),",","3", ":", len(set3),",","4", ":", len(set4),",","5", ":", len(set5))



if len(set1) == len(set3) + len(set5):
    print("len(set1) == len(set3) + len(set5)",",", True)
if len(set2) == len(set4) + len(set5):
    print("len(set2) == len(set4) + len(set5",",", True)
if len(set3) == len(set1) - len(set5):
    print("len(set3) == len(set1) - len(set5)",",", True)
if len(set4) == len(set2) - len(set5):
    print("len(set4) == len(set2) - len(set5)",",", True)
if len(set5) == len(set2) - len(set4):
    print("len(set5) == len(set2) - len(set4)",",", True)

lenghts sets:  1 : 80 , 2 : 58 , 3 : 35 , 4 : 13 , 5 : 45
len(set1) == len(set3) + len(set5) , True
len(set2) == len(set4) + len(set5 , True
len(set3) == len(set1) - len(set5) , True
len(set4) == len(set2) - len(set5) , True
len(set5) == len(set2) - len(set4) , True

#### Create an empty set called `set6`.

In [18]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [19]:
# Your code here
set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [20]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [21]:
# Your code here
print(" set1 contains set2: ", set2.issubset(set1))
print(" set1 contains set3: ", set3.issubset(set1))

 set1 contains set2:  False
 set1 contains set3:  True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [22]:
# Your code here
set345 = set3.union(set4, set5)
set12 = set1.union(set2)
len(set345) == len(set12)

True

#### Using the `pop` method, remove the first element from `set1`.

In [23]:
# Your code here
set1 = list(set1)
print("Complete set1: ", set1)
set1.pop(0)
print("Set1 without its first element: ", set1)

Complete set1:  [0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 19, 22, 26, 27, 28, 29, 31, 33, 35, 36, 37, 38, 40, 42, 43, 44, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99]
Set1 without its first element:  [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 19, 22, 26, 27, 28, 29, 31, 33, 35, 36, 37, 38, 40, 42, 43, 44, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [26]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1 :
        set1.remove(i)

print(set1)

[2, 3, 4, 6, 7, 8, 10, 12, 13, 15, 16, 17, 22, 26, 27, 28, 33, 35, 36, 37, 38, 40, 42, 43, 44, 47, 48, 52, 53, 54, 55, 56, 57, 58, 60, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 87, 90, 93, 94, 95, 96, 97, 98]